*{
    margin: 0;
    
}

.nav-bar{
    height: 81px;
    background-color: black;
    display: flex;
    align-items: center;
    
}

.logo-box{
    height: 60px;
    width: fit-content;
    padding-top: 20px;
    padding-left: 10px;

}

.logo{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKY8W-m3gCpB6ppQcxGq-GuWJd_71Hu2ckig&s);
    height: 50px;
    width: 137px;
    background-size: cover;
    
    
}

.border{
    border: 2px solid transparent ;
}

.border:hover{
    border: 2px solid white;
}