*{
    margin: 0;
    
}

.nav-bar{
    height: 81px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.logo-box{
    height: 60px;
    width: fit-content;
    padding-top: 20px;
    padding-left: 10px;
    position: absolute;
    left: 19px;

}

.logo{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKY8W-m3gCpB6ppQcxGq-GuWJd_71Hu2ckig&s);
    height: 50px;
    width: 137px;
    background-size: cover;
    
    
}



.seachBox{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    width: 620px;
    height: 40px;
    border-radius: 4px;
    position: relative;
    
}

.Search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 5px;
    border: none;
}

.Search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.Search-Icon{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(218, 179, 5);
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px;
    
}


.nav-address{
    
    width: fit-content;
    height: fit-content;
    color: white;
    position: relative;
    right: -66px;
   
}

.adresssLogo{
        height: 4px;
        width: 4px;
        position: relative;
        right: 23px;

}  

.sign-in{
    color: white;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
}
.diff-font{
    
    font-size: 0.85rem;
    font-weight:bold;
}

.returns-Orders{

    color: white;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
}

.cart{
    color: white;
    display: flex;
    font-size: 33px;
}
    

#cart-logo{
  height: auto;
  width: 100%;
}

.cart-text{
    font-size: 20px;
    padding-top: 9px;
}